</div><!-- end of #content div-->
<footer>
	A complete collection of all my school projects can be found here at my github page
	<br>
	<a href="https://github.com/AmeliaGianoli" target="_blank" rel="noopener noreferrer">
		Amelia Gianoli's github page
	</a>
	<br>
	&copy; Copyright <img src="/images/logo.png" alt="brand logo" class="mainLogo">Amelia Gianoli, 2026
</footer>
</body>

</html>