<%- include('partials/top') %>
  <main>
    <h2>Contact Me</h2>
    <form method="POST" action="/contact/submit" id="formContact">
      <label>First Name:</label>
      <br>
      <input type="text" name="firstName">
      <span class="validation" id="vFirstName"></span>
      <br>

      <label>Last Name:</label>
      <br>
      <input type="text" name="lastName">
      <span class="validation" id="vLastName"></span>
      <br>

      <label>Email:</label>
      <br>
      <input type="text" name="email">
      <span class="validation" id="vEmail"></span>
      <br>

      <label>Comments:</label>
      <br>
      <textarea name="comments"></textarea>
      <span class="validation" id="vComments"></span>
      <br>
      <input type="submit" value="SUBMIT">
    </form>
  </main>
  <%- include('partials/bottom') %>